$flighter: rgb(88, 86, 214);
$flighter_blk: rgb(30, 30, 30);
$white: rgb(250, 250, 250);
$off_white: rgb(247, 247, 247);

$dark_flighter: rgb(94, 92, 230);
$dark_flighter_grey: rgb(215, 215, 215);
$dark_bg: rgb(20, 20, 20);
$dark_bg_secondary: $flighter_blk;
