$flighter_red: rgb(249, 0, 0);
$flighter_blk: rgb(30, 30, 30);
$white: rgb(253, 253, 253);
$off_white: rgb(247, 247, 247);

$dark_flighter_grey: rgb(225, 225, 225);
$dark_bg: rgb(20, 20, 20);
$dark_bg_secondary: $flighter_blk;
