.airlines {
  display: block;
  margin: auto;
  max-width: 1440px;

  .card {
    margin: 1rem auto;
    .airline_logo {
      display: block;
      width: 100%;
      border-radius: 34px;
      max-width: 175px;
      margin: 1rem auto;
    }

    h2 {
      color: $flighter_blk;
    }

    button {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border: 1px solid lighten($color: $flighter, $amount: 15%);
      background-color: $flighter;
    }
  }
}
